@model Market_store.Models.Productshop

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Edit</h1>

<h4>Productshop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Shopid" class="control-label">Shop</label>
                <select asp-for="Shopid" class="form-control" asp-items="ViewBag.Shopid"></select>
                <span asp-validation-for="Shopid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Productid" class="control-label">Product</label>
                <select asp-for="Productid" class="form-control" asp-items="ViewBag.Productid"></select>
                <span asp-validation-for="Productid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
