@model Market_store.Models.Orderproduct

@{
    Layout = "_UserLayout";
}

<div class="col-md-12">
    <div class="page-header-title">
        <h5 class="m-b-10"> Category </h5>
    </div>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard"><i class="feather icon-home"></i></a></li>
        <li class="breadcrumb-item"><a href="javascript:">Create</a></li>
    </ul>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToCart" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Numberofpieces" class="control-label">Quantity</label>
                <input type="number" name="Numberofpieces" id="Numberofpieces" placeholder=" Quantity " class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Continue" placeholder="Add to card" class="btn btn-primary" />
                <a href="/Product1/Products" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
            </div>
        </form>
    </div>
</div>